 @import '../../styles/global.styles.scss';

.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 2rem;
	height: 3.5rem;
	width: 100%;
	background-color: #000000aa;
	
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	@include respond-below(sm) {
		padding: 0 1rem;
	}

	.logo-container {
		@include respond-below(xs) {
			display: none;
		}
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		flex-grow: 1;

		.title {
			color: $color-title-fg;
			display: inline-block;
			margin-left: 1rem;
		}
		.logo {
			width: 3rem;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:hover {
				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
			}
		}
	}

	.search-container {
		flex-grow: 0;
		width: 20rem;
		@include respond-below(xs) {
			flex-grow: 1;
			width: 100vw;
		}
	}
	
}
