 @import '../../styles/global.styles.scss';

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000000aa;
	
	display: flex;
	flex-flow: row nowrap;

	.logo-container {
		padding-left: 1rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		
		.title {
			color: $color-title-fg;
			display: inline-block;
			margin-left: 1rem;
		}
		.logo {
			width: 3rem;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			@include respond-below(sm) {
				display: none;
			}

		
			&:hover {
				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
			}
		}
	}

	.navbar {
		background-color: $color-background;
		position: fixed;
		top: 0;
		width: 100%;
		right: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		z-index: 2;

		@include respond-below(sm) {
			display: none;
		}
		.nav-item {
			cursor: pointer;
			float: left;
			display: block;
			text-align: center;
			padding: 15px;
			text-decoration: none;
			font-size: 1rem;

			&:hover {
				background-color: #ddd;
				color: black;
			}
		}

		.nav-cart, .nav-search {
			position: relative;
			&:hover {
				background-color: #ddd;
				color: black;
			}
		}
	}
}
