@import '../../styles/global.styles.scss';
.search-bar {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: center;
	height: 2rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.icon-container {
		margin-top: .7rem;
		.icon {
			width: 2rem;
			height: 2rem;
			fill: $color-primary-fg;
		}
	}
}
