@import '../../styles/global.styles.scss';
.cheat-board {
	width: 20%;
	flex-grow: 1;
	border-radius: .5rem;
	background-color: #5F2B65aa;
	margin: .5rem;
	padding: 1rem;
	text-align: left;

	@include respond-below(md) {
		width: 30%;
	}

	@include respond-below(sm) {
		width: 45%;
	}

	@include respond-below(xs) {
		width: 80%;
	}

	.board-title {
		color: white;
		font-size: 1.5rem;
		font-weight:bold;
		border-bottom: solid 1px #ccc;
		padding-bottom: .8rem;
	}

	.board-card {
		margin-bottom: 2rem;
		word-break:break-all;

		.board-card-title {
			font-size: 1rem;
			font-weight:bold;
			color:#f4fcbb;
			margin-bottom: 0rem;
			
			&.inactive {
				color: $color-inactive;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				margin: .3rem 0;
			}
		}
		.cmd  {
			color: $color-title-fg;
			&.inactive {
				color: $color-inactive;
			}
		}
	
		.tip  {
			color:#999;
			padding-left: 1rem;
			font-size: 1rem;
			font-style: italic;
			&.inactive {
				color: $color-inactive;
			}
		}
	}
}
