@import '../../styles/global.styles.scss';
.cheat-board {
	width: 20%;
	flex-grow: 1;
	border-radius: .5rem;
	background-color: #5F2B65aa;
	margin: .5rem;
	
	@include respond-below(md) {
		width: 30%;
	}

	@include respond-below(sm) {
		width: 45%;
	}

	@include respond-below(xs) {
		width: 80%;
	}

	.board-card-title {
		color: blue;
		
		&.inactive {
			color: red;
		}
	}

	.cmd  {
		color: blue;
		&.inactive {
			color: red;
		}
	}

	.tip  {
		color: blue;
		&.inactive {
			color: red;
		}
	}
}
